@page "/mypagecontact"
@using Vira.DataLayer.Entities.Main
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Contact</h3>
            <h4>Contact us through this from</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d410.27387639998244!2d50.878524532616694!3d34.649878729476406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3f93bb723b4f0595%3A0x981d97845eed81b8!2sQom%20Province%2C%20Qom%2C%20Saeidi%20Sq.%2C%20Sirang%2C%20Iran!3m2!1d34.6498925!2d50.878561999999995!5e0!3m2!1sen!2s!4v1675319189809!5m2!1sen!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <EditForm Model="@contact" OnValidSubmit="SubmitContact">
        <div class="row">
            <div class="col-12 col-md-6">
                <InputText class="form-control" required placeholder="Full name" bind-value="@Fullname"></InputText>
            </div>
            <div class="col-12 col-md-6">
                <InputText class="form-control" required placeholder="Email address" bind-value="@Email"></InputText>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <InputText class="form-control" required placeholder="Phone number" bind-value="@Phone"></InputText>
            </div>
            <div class="col-12 col-md-6">
                <InputText class="form-control" required placeholder="Subject" bind-value="@Subject"></InputText>
            </div>
        </div>
@*        <div class="row">
            <div class="col-12">
                <InputTextArea class="form-control" required placeholder="text" bind-value="@Text"></InputTextArea>
            </div>
        </div>*@
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    Contact contact = new Contact();

    [Parameter]
    public string Fullname { get; set; }
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public string Phone { get; set; }
    [Parameter]
    public string Subject { get; set; }
    [Parameter]
    public string Text { get; set; }

    public void SubmitContact()
    {
        string hello = "hello";
    }
}
