@inject HttpClient http
@using Vira.Web.Shared.Entities.Main
@using static System.Net.WebRequestMethods;
@using Microsoft.AspNetCore.Components
@using Vira.Core.DTOs.Main
@using Vira.Web.Shared;

<section class="me-5 ms-5">
    <div class="row">
        <div class="col-12">
            <EditForm Model="AddContact" OnValidSubmit="FContactUs" OnInvalidSubmit="FContactUs">
                <DataAnnotationsValidator />
                <div class="mb-3  text-end">
                    <label for="Fullname">نام و نام خانوادگی</label>
                    <InputText id="Fullname" @bind-Value="AddContact.Fullname" class="form-control" type="text" placeholder="نام و نام خانوادگی" />
                    <ValidationMessage For="@(() => AddContact.Fullname)" />
                </div>
                <div class="mb-3 text-end">
                    <label for="email">ایمیل</label>
                    <InputText id="email" @bind-Value="AddContact.Email" class="form-control" type="email" placeholder="پست الکترونیک" />
                    <ValidationMessage For="@(() => AddContact.Email)" />
                </div>
                <div class="mb-3 text-end">
                    <label for="PhoneNumber">شماره</label>
                    <InputText id="PhoneNumber" @bind-Value="AddContact.Phone" class="form-control" type="number" DisplayName="شماره همراه" placeholder="شماره همراه" />
                    <ValidationMessage For="@(() => AddContact.Fullname)" />
                </div>
                <div class="mb-3 text-end">
                    <label for="Subject">
                        موضوع
                    </label>
                    <InputSelect id="Subject" @bind-Value="AddContact.Subject" class="form-control">
                        <option value="1">سفارش وب سایت</option>
                        <option value="2">سوالات فنی</option>
                        <option value="3">مشاوره</option>
                        <option value="4">پشتیبانی</option>
                    </InputSelect>
                    <ValidationMessage For="@(() => AddContact.Fullname)" />
                </div>
                <div class="mb-3 text-end">
                    <label for="Text">متن</label>
                    <InputTextArea id="Text" @bind-Value="AddContact.Text" class="form-control" type="text" placeholder="متن" />
                    <ValidationMessage For="@(() => AddContact.Text)" />
                </div>
                <div class="row">
                    <div class="col ">
                        <div class="row @messageCssClass text-end">
                            <p>@mess</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </div>
            </EditForm>

        </div>
    </div>

</section>





@code
{
    AddContact AddContact = new AddContact();
    string mess = string.Empty;
    string messageCssClass = string.Empty;


    public async Task FContactUs()
    {
        var result = await http.PostAsJsonAsync("api/Home/AddContactUs", AddContact);
        var message = await result.Content.ReadFromJsonAsync<OperationResult>();
        mess = message.Message;
        if (message.isSuccedded == true)
        {
            messageCssClass = "text-success";

        }
        else
        {
            messageCssClass = "text-danger";
        }

        AddContact = new AddContact();
    }
}
