@model Opentag.ViewModels.Article.EditArticleViewModel
@{
    ViewData["Title"] = "EditArticle";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<h1>AddArticle</h1>

<form asp-controller="Article" asp-action="EditArticle" asp-route-ArticleId="@Model.TargetArticle.ArticleId" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" type="text" value="@Model.TargetArticle.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" value="@Model.TargetArticle.AuthorAccount" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row media d-flex">
        <div class="col-lg-4">
            <img src="~/img/article/@Model.TargetArticle.Images.Where(TA => TA.Primary == true).FirstOrDefault().ImageName" class="img-thumbnail float-left h-100" />
        </div>
        <div class="col-md-8">
            <div class="media-body row">
                <div class="col-12">
                    <strong class="d-block align-self-start">@Model.TargetArticle.Images.FirstOrDefault().ImageName</strong>
                </div>
                <div class="col-12">
                    <p class="text-justify">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                </div>
                <div class="col-12 align-self-end align-items-end d-flex justify-content-end">
                    <input asp-for="PostImage" type="file" id="chooseImageInput" style="opacity:0;" class="btn btn-primary" />
                    <label for="chooseImageInput" class="btn btn-primary m-0">Browse</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <label for="article-file1" class="card">
                <img src="~/img/detail/@Model.TargetAlbum.Take(1).FirstOrDefault().ImageName" class="img-thumbnail float-left h-100" alt="" />
                <input asp-for="Album" type="file" class="w-100" id="article-file1" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
        <div class="col-md-4 mt-3">
            <label for="article-file2" class="card">
                <img src="~/img/detail/@Model.TargetAlbum.Take(2).FirstOrDefault().ImageName" class="img-thumbnail float-left h-100" alt="" />
                <input asp-for="Album" type="file" class="w-100" id="article-file2" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
        <div class="col-md-4 mt-3">
            <label for="article-file3" class="card">
                <img src="~/img/detail/@Model.TargetAlbum.Take(3).FirstOrDefault().ImageName" class="img-thumbnail float-left h-100" alt="" />
                <input asp-for="Album" type="file" class="w-100" id="article-file3" style="display:none;" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="ShortBody" class="control-label"></label>
            <input asp-for="ShortBody" value="@Model.TargetArticle.ShortBody" class="form-control" />
            <span asp-validation-for="ShortBody" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group mt-3">
            <label asp-for="Body" class="control-label"></label>
            <textarea name="NewArticle.Body" value="@Model.TargetArticle.Body" class="form-control" rows="10">@Model.TargetArticle.Body</textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
    </div>
    <div class="row tagsRow">
        <div class="col-md-3 input-group mt-3">
            <input type="text" placeholder="New Tag" class="form-control h-100 tagInput" />
            <span class="text-danger"></span>
            <div class="input-group-append">
                <button type="button" class="btn btn-primary addTag">Add</button>
            </div>
        </div>
        @foreach (var item in Model.TargetArticle.ArticleTags)
        {
            <div class="col-md-3 mt-3 d-flex justify-content-between">
                <div class="toast align-items-center text-bg-primary border-0 w-100 fade show m-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body p-2 w-100">
                        @item.Tags.Name
                        <button class="mx-2 mx-2 close" type="button" data-dismiss="toast" aria-label="Close" aria-hidden="true">&times;</button>
                        <input value="@item.Tags.Name" asp-for="Tags" class="d-none"/>
                    </div>
                </div>
            </div>
        }
    </div>
    @*    <div class="row">
        <div class="col-12 mt-3">
        <div class="form-group form-check">
        <label class="form-check-label">
        <input asp-for="CloseComment" type="checkbox" value="CloseComment" class="form-check-input" placeholder="Close comments" />
        Close Comment
        </label>
        </div>
        </div>
        </div>*@
    <div class="row justify-content-between">
        <div class="col-2 mt-3">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-2 mt-3">
            <div class="form-group float-right">
                <input asp-controller="Article" asp-action="Articles" type="button" value="Back to list" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<script src="~/js/tag.js"></script>