@model Opentag.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="d-none CurrenPageTitle">8</section>

<section class="container"  style="margin-top: 150px;">

    <div class="h3">Article</div>
    @{
        if (Model.article != null)
        {
            <div class="h4">@Model.article.Title</div>
        }
        else
        {
            <div class="h4">Title of selected article</div>
        }

    }





    <div class="row justify-content-between border-top ">
        <div class="col-lg-8 ">
            <p class="text-left text-justify pt-3">
                Lorem ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <div class="m-0 p-0">
                <img class="w-100 m-0 p-0 shadow" style="border-radius: 25px;" src="~/images/services/defualt-blog-pic.jpg" />
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100 m-0 p-0 shadow" style="border-radius: 25px;" src="~/images/services/defualt-blog-pic.jpg" alt="First slide" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/services/defualt-blog-pic.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/images/services/defualt-blog-pic.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
               @*<div class="car-preview-crousel">
                    <div class="single-car-preview">
                        <img src="~/img/detail/@Model.article.Images.Where(I => I.Primary == false).Select(I => I.ImageName).FirstOrDefault()" alt="@Model.article.Title.ToString()">
                    </div>
                    <div class="single-car-preview">
                        <img src="~/img/detail/@Model.article.Images.Where(I => I.Primary == false).Skip(1).Select(I => I.ImageName).First()" alt="@Model.article.Title.ToString()">
                    </div>
                    <div class="single-car-preview">
                        <img src="~/img/detail/@Model.article.Images.Where(I => I.Primary == false).Skip(2).Select(I => I.ImageName).First()" alt="@Model.article.Title.ToString()">
                    </div>
                </div>*@
            </div>
            <div class="">
                @*ArticleText*@
            @{
                if (Model.article != null )
                {
                        <p class="text-left text-justify pt-3 pb-3">
                            @Html.Raw(Model.article.Body)
                        </p>
            
                }
                else
                {
                    <p class="text-left text-justify pt-3 pb-3">
                        Richard McClintock, a Latin scholar from Hampden-Sydney College, is credited with discovering the source behind the ubiquitous filler text. In seeing a sample of lorem ipsum, his interest was piqued by consectetur—a genuine, albeit rare, Latin word. Consulting a Latin dictionary led McClintock to a passage from De Finibus Bonorum et Malorum (“On the Extremes of Good and Evil”), a first-century B.C. text from the Roman philosopher Cicer.
                        So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.
                        It's difficult to find examples of lorem ipsum in use before Letraset made it popular as a dummy text in the 1960s, although McClintock says he remembers coming across the lorem ipsum passage in a book of old metal type samples. So far he hasn't relocated where he once saw the passage, but the popularity of Cicero in the 15th century supports the theory that the filler text has been used for centuries.
                        And anyways, as Cecil Adams reasoned, “[Do you really] think graphic arts supply houses were hiring classics scholars in the 1960s?” Perhaps. But it seems reasonable to imagine that there was a version in use far before the age of Letraset.
                    </p>  
                }

            }
            
            </div>

            @*Author name*@
            @{
                if (Model.article != null)
                {
                    <div class="font-weight-bold font-italic pb-2">
                        @Model.article.AuthorAccount
                    </div>
                }
                else
                {
                    <div class="font-weight-bold font-italic pb-2">
                        Article by: Auther Name
                    </div>
                }

            }

        
            <form>
                <div class="form-row align-items-center pb-3">
                    <div class="col-12 mb-2 " >
                        <label class="sr-only" for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control shadow-sm" id="exampleFormControlTextarea1" rows="3" style="border-radius: 5px;" placeholder="Write your comment here"></textarea>
                    </div>
                    <div class="col-12 ">
                        <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
                    </div>
                </div>
            </form>
            <div class="border bg-white p-3 shadow" style="border-radius: 5px;">
                <div class="row d-flex justify-content-between m-2  pb-3">
                    <div class="font-weight-bold ">
                        UserName said:
                    </div>
                    <div class="text-muted align-content-end align-self-end ">
                        Date:YYYY/DD/MM
                    </div>
                </div>
                <div class="m-2 text-justify">
                    So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book.
                </div>
            
            
            </div>
        </div>

        <div class="col-lg-4 w-100 pt-5">
            <div class=" w-100 mb-1 border shadow-sm" style="border-radius: 25px ">
                <div class="text-left font-weight-bold p-2">
                    Latest articles
                </div>
                <ul class="list-group" style="">
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                </ul>
                <div class="d-flex align-items-end flex-column pr-2">
                    <nav aria-label="Page navigation example" class="mt-auto ">
                        <ul class="pagination justify-content-end align-content-end shadow-sm">
                            <li class="page-item"><a class="page-link text-dark" href="#" tabindex="-1">1</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="border w-100 shadow-sm" style="border-radius: 25px">
                <div class="text-left font-weight-bold p-2">
                    Latest reviews
                </div>
                <ul class="list-group ">
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                    <li class="list-group-item border-0" style="background-color:transparent!important">
                        <img style="width:35px; height:35px" src="https://via.placeholder.com/150C/O https://placeholder.com/" />
                        <p class="d-inline">Cras justo odio</p>
                    </li>
                </ul>
                <div class="d-flex align-items-end flex-column pr-2">
                    <nav aria-label="Page navigation example" class="mt-auto">
                        <ul class="pagination justify-content-end align-content-end shadow-sm">
                            <li class="page-item"><a class="page-link text-dark" href="#" tabindex="-1">1</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                        </ul>
                    </nav>
                </div>


            
            </div>
        </div>
    </div>
</section>




@*<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.AuthorAccount)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.AuthorAccount)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Body)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Body)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.ShortBody)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.ShortBody)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.Active)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Active)
    </dd>
    <dt class = "col-sm-2">
    @Html.DisplayNameFor(model => model.CloseComment)
    </dt>
    <dd class = "col-sm-10">
    @Html.DisplayFor(model => model.CloseComment)
    </dd>
    </dl>
    </div>*@
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a>
    <a asp-action="Index">Back to List</a>
    </div>*@
